.main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 0 0.5rem;
	margin-top: 2rem;
}

.twitter {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background-color: #1da1f2;
	color: #fff;
	border-radius: 1rem;
}