.main {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background-color: #f5f5f5;
}
.email {
	padding: 5px 30px 5px 10px;
	border-radius: 5px;
	border: 1px;
	margin-right: 5px;
	border: 1px solid black;
}
.suscribe {
	padding: 5px 10px;
	color: white;
	background-color: black;
	border: 1px solid #f5f5f5;
	border-radius: 5px;
	cursor: pointer;
}